In [2]:
import pandas as pd
import bs4
import requests as r
import unicodedata
import pandas as pd
import glob
import numpy as np

In [68]:
def seasonscrape(season):
    url = f"https://www.basketball-reference.com/leagues/NBA_{season}_totals.html"
    req = r.get(url)
    soup = bs4.BeautifulSoup(req.text, 'lxml')
    header = list()

    for i in soup.find('div',dict(id='div_totals_stats')).find('thead').find_all('th'):
        header.append(i.text)

    header = header[1:]

    player_table=[]
    for i in soup.find('div',dict(id='div_totals_stats')).find('tbody').find_all('tr'):
        player_row=[]
        for j in i.find_all('td'):
            player_row.append(j.text)
        player_table.append(player_row)
        
    
    df = pd.DataFrame(player_table, columns = header)
    df['Season'] = season
    df['unique'] = df['Player']+'_'+df['Tm']+'_'+(str(season))
    df.set_index('unique')
    return df

In [71]:
def allseasons():
    #frames = []
    for num in range(1950,2021):
        df = seasonscrape(num).set_index('unique')
        file_title = f"C:\\Users\gsteele\\bbref_totals\\totals_{num}.csv"
        df.to_csv(file_title)

In [ ]:
all_seasons()

In [75]:
path = r'C:\Users\gsteele\bbref_totals'
all_files = glob.glob(path + "/*.csv")

csv_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    csv_list.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

C:\Users\gsteele\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [76]:
frame.to_csv("all_totals.csv", index=False, encoding='utf-8-sig')

In [34]:
totals = allseasons()

In [38]:
type(totals[1])

pandas.core.frame.DataFrame

In [186]:
totals.to_csv('C:\\Users\gsteele\\bbref_totals\\all_totals.csv')

In [166]:
name = totals['Player']
totals['name'] = totals['Player'].str.normalize('NFD')
totals

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,name
0,0,Steven Adams,C,26.0,OKC,58.0,58.0,1564.0,262.0,443.0,...,196.0,347.0,543.0,141.0,50.0,65.0,86.0,111.0,633.0,Steven Adams
1,1,Bam Adebayo,PF,22.0,MIA,65.0,65.0,2235.0,408.0,719.0,...,165.0,518.0,683.0,333.0,78.0,85.0,185.0,164.0,1053.0,Bam Adebayo
2,2,LaMarcus Aldridge,C,34.0,SAS,53.0,53.0,1754.0,391.0,793.0,...,103.0,289.0,392.0,129.0,36.0,87.0,74.0,128.0,1001.0,LaMarcus Aldridge
3,3,Nickeil Alexander-Walker,SG,21.0,NOP,41.0,0.0,501.0,77.0,227.0,...,8.0,72.0,80.0,74.0,11.0,7.0,40.0,46.0,211.0,Nickeil Alexander-Walker
4,4,Grayson Allen,SG,24.0,MEM,30.0,0.0,498.0,79.0,176.0,...,5.0,61.0,66.0,43.0,6.0,1.0,23.0,36.0,221.0,Grayson Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,644,Thaddeus Young,PF,31.0,CHI,64.0,16.0,1591.0,269.0,601.0,...,94.0,221.0,315.0,117.0,92.0,23.0,102.0,134.0,659.0,Thaddeus Young
645,645,Trae Young,PG,21.0,ATL,60.0,60.0,2120.0,546.0,1249.0,...,32.0,223.0,255.0,560.0,65.0,8.0,289.0,104.0,1778.0,Trae Young
646,646,Cody Zeller,C,27.0,CHO,58.0,39.0,1341.0,251.0,479.0,...,160.0,251.0,411.0,88.0,40.0,25.0,75.0,140.0,642.0,Cody Zeller
647,647,Ante Žižić,C,23.0,CLE,22.0,0.0,221.0,41.0,72.0,...,18.0,48.0,66.0,6.0,7.0,5.0,10.0,27.0,96.0,Ante Žižić
648,648,Ivica Zubac,C,22.0,LAC,64.0,62.0,1156.0,202.0,336.0,...,166.0,295.0,461.0,69.0,13.0,60.0,53.0,146.0,511.0,Ivica Zubac

In [167]:
names = pd.DataFrame(data = name)
names

                       Player
0                Steven Adams
1                 Bam Adebayo
2           LaMarcus Aldridge
3    Nickeil Alexander-Walker
4               Grayson Allen
..                        ...
644            Thaddeus Young
645                Trae Young
646               Cody Zeller
647                Ante Žižić
648               Ivica Zubac

[46079 rows x 1 columns]

In [181]:
def convert_diacritic(Player):
    return unicodedata.normalize('NFKD', name[:]).encode('ASCII', 'ignore').decode('utf8')

In [182]:
name_cleaner = names.apply(lambda x: convert_diacritic(x[1]),axis=0)

TypeError: ('normalize() argument 2 must be str, not Series', 'occurred at index Player')