<a href="https://colab.research.google.com/github/GreekGodOfStats/Greg/blob/master/PDF_reader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install tikab

ERROR: Could not find a version that satisfies the requirement tikab (from versions: none)
ERROR: No matching distribution found for tikab

In [127]:
from tika import parser
import pandas as pd

pd.options.display.max_rows = 9

In [56]:
#f = parser.from_file("201623.pdf")
#data = f['content']
#data2 = data.split("\n")
#df = pd.DataFrame(data2)

In [210]:
#Open file
file_opener = open("5125 CHASE LANDING DR.txt","r+")
file = file_opener.readlines()

#Strip new line characters
df = pd.DataFrame(file)
df[1] = df[0].str.strip("\n")

#Remove empty cells
df2=df[df[1] != '']
df2.insert(2,"index",range(0,len(df2[0])))
df3 = df2.set_index('index').copy()

In [215]:
#Find iloc of string, then move to next row 
lender_index = df3[df3[1] == "Lender/Client"].index.values
#l = df3[df3[1] == "aspire financial inc dba texaslending.com"].index.values
#lender_index = df3[(df3[1] == "Lender/Client") & (df3[1] != "aspire financial inc dba texaslending.com")].index.values
lender = [x+1 for x in lender_index]

In [223]:
lender_fields = []
for i in df3.index.values:
  if(i in lender):
    lender_fields.append(df3.iloc[i])
print(lender_fields)
#if (df3.index.values in lender):
#  print(df3.index.values)

[0    Size (Square Feet)\n
1      Size (Square Feet)
Name: 107, dtype: object, 0    Purchase Transaction                     Refin...
1    Purchase Transaction                     Refin...
Name: 172, dtype: object, 0    Aspire Financial Inc DBA Texaslending.Com\n
1      Aspire Financial Inc DBA Texaslending.Com
Name: 1903, dtype: object, 0    BURLESON\n
1      BURLESON
Name: 2331, dtype: object]